<!-- <div class="container" id="alex-boss"> -->
  <div class="center jumbotron">
    <h1>
      <%= render 'layouts/logo' %>
    </h1>
    <%= link_to 'Sign up now', "%", class: "btn btn-success btn-lg btn-xlarge" %>
  </div>
<!-- </div> -->

