$navbar-default-bg: #ededed;

@font-face {
    font-family: 'Emilys Candy';
    src: asset-url('fonts/emilys-candy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 2.0em;
  color: #fff;
  // text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: bold;
  font-family: "Emilys Candy";
}

#logo-color-1 {
  color: #3a92d6;
}

#logo-color-2 {
  color: #d67bb4;
}

#logo-color-3 {
  color: #92bd13;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('new_cover_page.jpg');
  background-size: cover;
  height: 500px;
  // top: 0;
  // left: 0;
  // bottom: 0;
  // right: 0;
  // position: absolute;
}

.nav-sep {
  border-left: 1px solid #42a82b;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: 0px 2px 5px #000000;
  font-family: "Emilys Candy";
  font-size: 7.0em;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: black;
}

.btn-success {
  border-style: none;
}

.nav > li > a { 
  color: #3a92d6 !important; 
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #42a82b;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}


// Will auto expand dropdown on hover
// .hover-expander:hover .hover-expandable {
//   display: block;
// }


@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}
